<!--<ccnetconfig><configurationVersion>1.5</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="MarketDataSimulator">
 <workingDirectory>D:\Repos\cruisecontrol</workingDirectory>
 <artifactDirectory>c:\CI\Artifacts.Framework</artifactDirectory>
<sourcecontrol type="git">
  <workingDirectory>D:\Repos\cruisecontrol</workingDirectory>
  <executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
  <timeout>60000</timeout>
  <autoGetSource>true</autoGetSource>
  <fetchSubmodules>true</fetchSubmodules>
 <repository>https://github.com/aurorablogs/cruisecontrol.git</repository>
  <branch>master</branch>
  <tagOnSuccess>false</tagOnSuccess>
</sourcecontrol>

  <triggers>
<intervalTrigger initialSeconds="0" />
          </triggers>
  </project>
</cruisecontrol>