<!--<ccnetconfig><configurationVersion>1.5</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="MarketDataSimulator">
 <workingDirectory>D:\Repos\cruisecontrol</workingDirectory>
 <artifactDirectory>c:\CI\Artifacts.Framework</artifactDirectory>
 
 
<sourcecontrol type="git">
  <workingDirectory>D:\Repos\cruisecontrol</workingDirectory>
  <executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
  <timeout>60000</timeout>
  <autoGetSource>true</autoGetSource>
  <fetchSubmodules>true</fetchSubmodules>
 <repository>https://github.com/aurorablogs/cruisecontrol.git</repository>
  <branch>master</branch>
  <tagOnSuccess>false</tagOnSuccess>
  <commitBuildModifications>false</commitBuildModifications>
</sourcecontrol>

        <publishers>
          <merge>
            <files>
                <file>C:\results\*-results.xml</file>
            </files>
        </merge>
	<xmllogger />
<email mailport="587" includeDetails="TRUE" mailhostUsername="usernamegmail.com" mailhostPassword="password" useSSL="True">
  <from>user@gmail.com</from>
   <mailhost>smtp.gmail.com</mailhost>
   <users>
<user name="user1" group="buildmaster" address="user1@mail.com" />
     <user name="user2" group="buildmaster" address="user2@mail.com" />
     <user name="user3" group="buildmaster" address="user3@mail.com" />
     <user name="user4" group="buildmaster" address="user4@mail.com"/>	
     <user name="user5" group="buildmaster" address="user5@mail.com" />
   </users>
   <groups>
         
    <group name="buildmaster">
      <notifications>
        <notificationType>Always</notificationType>
      </notifications>
    </group>
  </groups>
  
  <subjectSettings>
    <subject buildResult="StillBroken" value="Build is still broken for {CCNetProject}" />
  </subjectSettings>
  <xslFiles>
    <file>xsl\header.xsl</file>
    <file>xsl\compile.xsl</file>
    <file>xsl\unittests.xsl</file>
   <file>xsl\modifications.xsl</file>
   <file>xsl\fit.xsl</file>
   <file>xsl\compile-msbuild.xsl</file>
   <file>xsl\NCoverSummary.xsl</file>
 </xslFiles>
</email>
    </publishers>


  <triggers>
<intervalTrigger initialSeconds="0" buildCondition="IfModificationExists" name="DailyBuild" />
          </triggers>

    <tasks>
     <nant>
  <executable>C:\Users\Taimoor\Downloads\nant-0.92\bin\NAnt.exe</executable>
  <baseDirectory>C:\Users\Taimoor\Documents\Quizzes</baseDirectory>
   <nologo>true</nologo>
   <buildFile>Aurora.build</buildFile>
   <logger>NAnt.Core.XmlLogger</logger>
   <buildTimeoutSeconds>1200</buildTimeoutSeconds>
</nant>
    </tasks>
  </project>
</cruisecontrol>